## .NET
bin/
obj/
*.user
*.suo

## Visual Studio
.vs/
*.userosscache
*.sln.docstates

## Rider
.idea/

## VS Code
.vscode/*
!.vscode/extensions.json

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

## Umbraco test site runtime data
tests/**/umbraco/Data/
tests/**/umbraco/Logs/
tests/**/App_Data/
tests/**/wwwroot/media/
tests/**/wwwroot/umbraco/
tests/**/App_Plugins/
tests/**/*.sqlite.db
tests/**/*.sqlite.db-shm
tests/**/*.sqlite.db-wal
